@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lato:ital,wght@1,300&display=swap');
* {margin: 0; padding: 0;}
ul, li {list-style: none;}
a {text-decoration: none;}
html, body {font-family: Lato, sans-serif;}

/* 전체너비 960px */
#main_header {width: 960; margin: 0 auto; height: 160; position: relative;}
#main_header .title {position: absolute; left: 100px; top: 30px;}
#main_header .main_gnb {position: absolute; right: 0; top: 0;}
#main_header .main_lnb {position: absolute; right: 0; bottom: 10px;}

/* 메뉴 */
.main_gnb ul {overflow: hidden;}
.main_gnb ul li {float: left;}
.main_gnb ul li a {
    display: inline-block;
    padding: 3px 5px;
    border: 1px solid #777;
}

.main_gnb ul li a:hover {
    background-color: #333;
    color: #fff;
}
/*요소중 index번째의 표현 */
.main_gnb ul li:nth-child(1) a {border-radius: 8px 0 0 8px;}
.main_gnb ul li:nth-child(5) a {border-radius: 0 8px 8px 0;}

/* 서브메뉴 */
.main_lnb ul {overflow: hidden;}
.main_lnb ul li {float: left;}
.main_lnb ul li a {
    display: inline-block;
    padding: 6px 10px;
    border: 1px solid #777;
}

.main_lnb ul li a:hover {
    background-color: #333;
    color: #fff;
}

.main_lnb ul li:nth-child(1) a {border-radius: 8px 0 0 8px;}
.main_lnb ul li:nth-child(5) a {border-radius: 0 8px 8px 0;}

/* 본문 */
#content {width: 960px; margin: 0 auto; overflow: hidden;} /* float법칙 */
#content .main_section {
    float: left; 
    width: 750px;
   
}
#content .main_article{
    border: 1px solid #777;
    padding: 20px; /* 넓이가 더 커지기 때문에 box-sizing */
    box-sizing: border-box;
    margin-bottom: 10px ;

}
#content .main_aside {float: right; width: 200px; border: 1px solid #777;}

/* 탭영역 */
.main_aside > .buttons {overflow: hidden;}
.main_aside > .buttons > label {
    float: left;
    width: 50%;
    text-align: center;
    background-color: #333;
    color: #fff;
}

.tab-content ul li a {display: block;}
.tab-content ul li a span {display: block;}
















