.detail-info .title {
    font-size: 25px;
}
.detail-info .price {
    font-size: 30px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.detail-info .delivery {
    font-size: 12px;
    color: #999;
}
/* 버튼영역 */
.detail-control {margin-top: 150px;}
.detail-control .price,
.detail-control .order {
    overflow: hidden;
}
.detail-control .left {
    float: left;
}
.detail-control .right {
    float: right;
}
.order button {
    width: 50%;
    padding: 15px 10px;
    /* box-sizing:border-box; */
}

.price > p {
    height: 35px;
    line-height: 35px;
    margin: 0;
}

.price > strong {
    font-size: 25px;
    font-weight: bold;
}

/* 댓글 영역*/
.reply-wrap {
    border:  1px solid #ddd;
    background-color: #f5f5f5;
    position: relative;
}
.reply-img {
    position: absolute;
    left: 10px;
    top: 10px;
}
.reply-content {
    padding-left: 50px;
}
.reply-control {
    overflow: hidden;
}
.reply-control {
    overflow: left;
}
.reply-control > button {
    float: right;
}


.reply-content textarea {
    resize: vertical; /* 수직이동 */
    height: 100px;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out 0s;
}
.reply-content textarea:focus {
    height: 250px;
}
.reply-content input {
    width: 200px;
    margin-bottom: 5px;
}

/* 아래 댓글*/
.reply-group {
    overflow: hidden;
}
.reply-group > a {
    float: right;
    color: #777;
}
.reply-content > p {
    margin: 0   ;
}