.tabs-basic {
    border: 1px solid #ddd;
    text-align: center;
}
.tabs-basic li {
    width: 25%;   
}
.tabs-basic li a {
    border-radius: 0px;
    margin: 0px;
    color: #555555;
}
.tabs-basic > li.active > a,
.tabs-basic > li.active > a:hover,
.tabs-basic > li.active > a:focus {
    border-color: #ddd;
}

